.titulo-form {
    font-size: 14pt;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
}

.form-block {
    margin-bottom: 0.25em;
}

label {
    font-size: 10pt;
    margin-left: 1em;
    margin-right: 0.25em;
}

label:after {
    content: ":";
}

label.requerido:after{
    content: "*";
    color: red;
}

div.submit {
    margin-top: 1em;
    text-align: center;
}