<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="/WEB-INF/templates/layout.xhtml">

    <ui:define name="styles">
        <!--<link href="#{request.contextPath}/css/inscricao.css" rel="stylesheet" type="text/css" />-->
    </ui:define>

    <ui:define name="metadata">
    </ui:define>

    <ui:define name="javascript">
    </ui:define>

    <ui:define name="content">
        <h:form>
            <div class="titulo-form">Login</div>
            <h:panelGroup style="text-align: left; margin-bottom: 10px;" layout="block">
                <h:panelGroup styleClass="form-block" layout="block">
                    <h:outputLabel for="login" value="Login"/>
                    <h:inputText id="login" value="#{loginBean.login}" label="Login" size="20" required="true"/>
                </h:panelGroup>
                <h:panelGroup styleClass="form-block" layout="block">
                    <h:outputLabel for="senha" value="Senha"/>
                    <h:inputText id="senha" value="#{loginBean.senha}" label="Senha" size="20" required="true"/>
                </h:panelGroup>
            </h:panelGroup>
            <div class="submit">
                <h:commandButton value="Login" action="#{loginBean.login}"/>
            </div>
            <h:messages/>
        </h:form>
    </ui:define>

</ui:composition>
